streamlit==1.40.2
streamlit-option-menu==0.4.0
websockets==14.1

#test
playwright==1.49.0

#llm
langchain-google-genai==2.0.6
langchain==0.3.9

#utils
ipython==8.30.0
pillow~=11.0.0
pydantic==2.10.2
requests==2.32.3
fastapi==0.115.5